.bch {
  background: #222;
  padding: 10px;
}
.bch, .smartbch {
  border-radius: 5px;
  height: 35px;
  display: inline-block;
}
.smartbch {
  background: #fff;
  padding: 5px;
  margin-right: 10px;
}
main{
  background-color:teal
}