.bch {
  background: #222;
  padding: 10px;
}
.bch, .smartbch {
  border-radius: 5px;
  height: 35px;
  display: inline-block;
}
.smartbch {
  background: #fff;
  padding: 5px;
  margin-right: 10px;
}
main{
  background-color:teal;
  color: white;
}
a {
  color: #0ac18e;
}
button.connectButton{
  position: absolute; 
  right: 20px;
  top: 20px;
}
.selectComponent{
  max-width: 350px;
  min-width: fit-content;
  margin:auto;
}
.tokenImage{
  width: 30px;
  margin-left: 5px;
  border-radius: 50%;
  vertical-align: center;
}
.swapItem{
  display: flex;
  justify-content: center;
  vertical-align: revert;
  align-items: center;
}
.inputAddr{
  width: 350px;
  margin: auto;
  color: white
}

@media (max-width: 600px) {
  button.connectButton{
    position: relative;
    margin-left: 60%;
  }
}